development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: dev_sftp
  pool: 5

  username: 
  password: 
  host: 

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: prod_sftp
  pool: 5
  username:
  password:
  host:

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: test_sftp
  pool: 5
  username: 
  password: 
  host: 
